*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    -webkit-font-smoothing: antialiased;
    line-height: var(--leading-none);
    font-family: var(--font-primary);
    background-color: var(--color-navy-850);
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

p {
    text-wrap: pretty;
    color: var(--color-gray-200);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--color-white);
    font-family: var(--font-secondary);
    text-wrap: balance;
}

@supports selector(:focus-visible) {
    button:focus,
    input:focus,
    a:focus {
        outline: 0;
    }

    button:focus-visible,
    input:focus-visible,
    a:focus-visible {
        outline-width: var(--outline-width, var(--focus-outline-width));
        outline-offset: var(--outline-offset, var(--focus-outline-offset));
        outline-style: var(--outline-style, var(--focus-outline-style));
        outline-color: var(--outline-color, var(--focus-outline-color));
    }
}
