:root {
    --color-navy-850: hsl(217, 28%, 15%);
    --color-navy-900: hsl(218, 28%, 13%);
    --color-navy-950: hsl(216, 53%, 9%);
    --color-navy-800: hsl(219, 30%, 18%);

    --color-teal-200: hsl(176, 68%, 64%);
    --color-cyan-500: hsl(198, 60%, 50%);
    --color-red-500: hsl(0, 100%, 63%);

    --color-gray-300: hsl(0, 0%, 71%);

    --color-white: hsl(0, 0%, 100%);

    --font-primary: "Open Sans", system-ui, sans-serif;
    --font-secondary: "Raleway", system-ui, sans-serif;
    --font-normal: 400;
    --font-bold: 700;

    --text-xs: 0.75rem;
    --text-sm: 0.875rem;
    --text-md: 1rem;
    --text-lg: 1.125rem;
    --text-xl: 1.25rem;
    --text-2xl: 1.5rem;
    --text-3xl: 2rem;
    --text-4xl: 2.5rem;

    --spacing: 0.25rem;
    --pixel: 1px;

    --leading-none: 1;
    --leading-1: calc(var(--spacing) * 1);
    --leading-2: calc(var(--spacing) * 2);
    --leading-3: calc(var(--spacing) * 3);
    --leading-4: calc(var(--spacing) * 4);
    --leading-5: calc(var(--spacing) * 5);
    --leading-6: calc(var(--spacing) * 6);
    --leading-7: calc(var(--spacing) * 7);
    --leading-8: calc(var(--spacing) * 8);
    --leading-9: calc(var(--spacing) * 9);
    --leading-10: calc(var(--spacing) * 10);
    --leading-11: calc(var(--spacing) * 11);
    --leading-12: calc(var(--spacing) * 12);
    --leading-13: calc(var(--spacing) * 13);
    --leading-14: calc(var(--spacing) * 14);
    --leading-15: calc(var(--spacing) * 15);

    --tracking-easy: 0.005em;

    --space-none: 0;
    --space-1: calc(var(--spacing) * 1);
    --space-2: calc(var(--spacing) * 2);
    --space-3: calc(var(--spacing) * 3);
    --space-4: calc(var(--spacing) * 4);
    --space-5: calc(var(--spacing) * 5);
    --space-6: calc(var(--spacing) * 6);
    --space-7: calc(var(--spacing) * 7);
    --space-8: calc(var(--spacing) * 8);
    --space-9: calc(var(--spacing) * 9);
    --space-10: calc(var(--spacing) * 10);
    --space-11: calc(var(--spacing) * 11);
    --space-12: calc(var(--spacing) * 12);
    --space-13: calc(var(--spacing) * 13);
    --space-14: calc(var(--spacing) * 14);
    --space-15: calc(var(--spacing) * 15);
    --space-16: calc(var(--spacing) * 16);
    --space-17: calc(var(--spacing) * 17);
    --space-18: calc(var(--spacing) * 18);
    --space-19: calc(var(--spacing) * 19);
    --space-20: calc(var(--spacing) * 20);
    --space-21: calc(var(--spacing) * 21);
    --space-22: calc(var(--spacing) * 22);
    --space-23: calc(var(--spacing) * 23);
    --space-24: calc(var(--spacing) * 24);
    --space-25: calc(var(--spacing) * 25);
}
