@use "../abstracts/" as *;

.btn {
    --outline-offset: 4px;

    padding-block: 1rem 1.125rem;
    padding-inline: 2rem;
    background: $gradient-cyan;
    border-radius: var(--rounded-full);
    font-weight: var(--font-bold);
    color: $gray-100;
    cursor: pointer;
    position: relative;
    @include transition(box-shadow 200ms);

    &::after {
        border-radius: inherit;
        content: attr(data-title);
        position: absolute;
        padding: inherit;
        inset: 0;
        background: linear-gradient(90deg, $cyan-500 60%, $teal-200 95%);
        opacity: 0;
        color: $white;
        @include transition(opacity 300ms ease-in-out);
    }

    @include hover {
        box-shadow: 0 0 0 3px $white;
        &::after {
            opacity: 0.5;
        }
    }
}
