@use "../abstracts/" as *;

.intro {
    padding-inline-start: 2.5rem;
    text-align: center;
    max-width: 40rem;

    &__image {
        margin-block-end: clamp(2rem, 0.0916rem + 8.1425vw, 4rem);
    }

    &__title {
        font-size: clamp(var(--text-2xl), 0.5458rem + 4.0712vw, var(--text-4xl));
        line-height: calc(1.25em + 0.25rem + var(--pixel) * 2);
        margin-block-end: 1rem;
    }

    &__description {
        font-size: var(--text-sm);
        line-height: 1.5rem;
        margin-block-end: 2rem;
    }

    &__cta-btn {
        margin-inline: auto;
        display: block;
        text-decoration: none;
        width: clamp(12.5rem, 7.729rem + 20.3562vw, 17.5rem);
    }
}
