$navy-800: hsl(219, 30%, 18%);
$navy-850: hsl(217, 28%, 15%);
$navy-950: hsl(216, 53%, 9%);
$navy-900: hsl(218, 28%, 13%);

$teal-200: hsl(176, 68%, 64%);
$cyan-500: hsl(198, 60%, 50%);
$red-500: hsl(0, 100%, 63%);

$gray-200: hsl(0, 0%, 75%);
$gray-100: hsl(0, 0%, 90%);

$white: hsl(0, 0%, 100%);

$gradient-cyan: linear-gradient(90deg, $teal-200 2%, $cyan-500 40%);
