.guide {
    width: 100%;
    display: grid;
    gap: var(--space-8) var(--space-16);
    grid-template-columns: repeat(auto-fit, minmax(min(100%, 18.75rem), 1fr));
    justify-items: center;
    align-items: center;

    &__title {
        font-size: clamp(var(--text-xl), 0.5344rem + 3.0534vw, var(--text-3xl));
        line-height: calc(2em - var(--leading-4));
        margin-bottom: var(--space-4);
    }

    &__description {
        display: flex;
        flex-direction: column;
        gap: var(--space-4);
        font-size: var(--text-sm);
        line-height: var(--leading-6);
        max-width: 56ch;
        margin-bottom: var(--space-8);
    }

    &__link {
        font-size: clamp(var(--text-sm), 0.7557rem + 0.5089vw, var(--text-md));
        display: flex;
        align-items: center;
        gap: var(--space-2);
        text-decoration: none;
        color: var(--color-teal-200);
        width: fit-content;
        position: relative;
        transition: color 200ms ease;

        &::after,
        &::before {
            pointer-events: none;
            position: absolute;
            display: block;
            content: "";
            left: 0;
            right: 0;
            height: calc(var(--pixel) * 2);
            background-color: var(--color-teal-200);
            transition: right 200ms;
        }

        &::after {
            top: calc(100% + var(--space-2));
        }

        &::before {
            right: 100%;
            bottom: calc(100% + var(--space-2));
        }

        @media (hover: hover) {
            &:hover {
                color: var(--color-gray-100);
            }

            &:hover::after {
                right: calc(var(--space-6) * -1);
            }

            &:hover::before {
                right: 80%;
            }
        }
    }
}
