.signup {
    padding-block-start: clamp(var(--space-6), 0.0687rem + 6.1069vw, var(--space-12));
    padding-block-end: clamp(var(--space-6), -0.8855rem + 10.1781vw, var(--space-16));
    padding-inline: clamp(var(--space-6), 0.0687rem + 6.1069vw, var(--space-12));
    background-color: var(--color-navy-850);
    max-width: 50rem;
    border-radius: var(--rounded-sm);
    box-shadow: var(--shadow-md);
    position: relative;
    text-align: center;

    &::after {
        z-index: -1;
        position: absolute;
        content: "";
        top: 50%;
        bottom: 0;
        left: -100rem;
        right: -100rem;
        background-color: var(--color-navy-950);
    }

    &__title {
        font-size: clamp(var(--text-xl), 0.5344rem + 3.0534vw, var(--text-3xl));
        line-height: calc(2em - var(--leading-4));
        margin-bottom: var(--space-4);
    }

    &__description {
        font-size: var(--text-sm);
        line-height: var(--leading-6);
        margin-bottom: clamp(var(--space-6), 1.0229rem + 2.0356vw, var(--space-8));
        padding-inline: clamp(0rem, -2.8626rem + 12.2137vw, var(--space-12));
    }

    &__form {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        flex-grow: 1;
        gap: var(--space-8) var(--space-4);
    }

    &__field {
        --input-padding-x: clamp(var(--space-6), 1.0229rem + 2.0356vw, var(--space-8));

        flex-grow: 5;
        flex-basis: 350px;
        position: relative;
        border-radius: var(--rounded-full);
    }

    &__input {
        --outline-offset: 4px;

        border: 0;
        border-radius: inherit;
        font-size: var(--text-sm);
        height: 3.125rem;
        padding-inline: var(--input-padding-x);
        width: 100%;
        transition: box-shadow 200ms ease;
    }

    &__input-overlay {
        pointer-events: none;
        position: absolute;
        inset: 0;
        border-radius: inherit;
        border: 2px solid transparent;
        transition-property: border-color, box-shadow;
        transition-timing-function: ease;
        transition-duration: 200ms;
    }

    &__hint {
        position: absolute;
        text-align: start;
        top: 100%;
        font-size: clamp(var(--text-xs), 1.0389rem + -1.2327vw, var(--text-sm));
        color: var(--color-red-500);
        padding-block-start: clamp(var(--space-2), 0.3555rem + 0.6163vw, var(--space-3));
        padding-inline: var(--input-padding-x);
    }

    &__submit-btn {
        flex-grow: 1;
        flex-shrink: 0;
        border: 0;
        height: fit-content;
    }

    &__input[aria-invalid="true"] + &__input-overlay {
        border-color: var(--color-red-500);
    }

    &__input[aria-invalid="true"] ~ &__hint {
        display: block;
    }

    &__input:focus + &__input-overlay {
        border-color: var(--color-cyan-500);
    }

    @media (hover: hover) {
        &__input:hover + &__input-overlay {
            border-color: var(--color-cyan-500);
            box-shadow: 0 0 0 3px var(--color-gray-100);
        }
    }
}
