@use "../abstracts" as *;

.footer {
    background-color: $navy-950;

    &__link {
        grid-column: 1 / -1;
        width: max-content;
    }

    &__layout {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(min(100%, 25rem), 1fr));
        gap: 3rem 4rem;
        padding-block: 4rem;
    }
}
